{%- liquid
  if settings.social_instagram_link != blank
    echo '<li><a href="' | append: settings.social_instagram_link | append: '" class="link" aria-label="Instagram">'
    render 'icon-instagram'
    echo '</a></li>'
  endif

  if settings.social_tiktok_link != blank
    echo '<li><a href="' | append: settings.social_tiktok_link | append: '" class="link" aria-label="TikTok">'
    render 'icon-tiktok'
    echo '</a></li>'
  endif

  if settings.social_facebook_link != blank
    echo '<li><a href="' | append: settings.social_facebook_link | append: '" class="link" aria-label="Facebook">'
    render 'icon-facebook'
    echo '</a></li>'
  endif

  if settings.social_twitter_link != blank
    echo '<li><a href="' | append: settings.social_twitter_link | append: '" class="link" aria-label="Twitter">'
    render 'icon-twitter'
    echo '</a></li>'
  endif

  if settings.social_youtube_link != blank
    echo '<li><a href="' | append: settings.social_youtube_link | append: '" class="link" aria-label="YouTube">'
    render 'icon-youtube'
    echo '</a></li>'
  endif
-%}

