.announcement-bar {
  padding: 1.2rem 1.6rem;
  text-align: center;
}

.announcement-bar__message {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .announcement-bar {
    padding: 1.5rem 2rem;
  }

  .announcement-bar__message {
    font-size: 1.5rem;
  }
}

