.page {
  padding: 6rem 0;
}

@media screen and (min-width: 750px) {
  .page {
    padding: 8rem 0;
  }
}

.page-width--narrow {
  max-width: 90rem;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-title {
  word-break: break-word;
}

