/* Product Recommendations Section */
.product-recommendations {
  padding: 5rem 0;
}

.title-wrapper {
  margin-bottom: 3.2rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .title-wrapper {
    margin-bottom: 4.8rem;
  }
}

.product-recommendations__products {
  gap: 2rem;
}

@media screen and (min-width: 750px) {
  .product-recommendations__products {
    gap: 3rem;
  }
}

.card-information {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card-information .caption-large {
  font-size: 1.2rem;
  color: rgba(var(--color-base-text), 0.7);
}

.card-information .light {
  font-weight: 400;
}

